
p{
    color:#bbc1c7;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #1c1a22;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    color: #fff;
}